<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <span class="title_panna">PANN<span class="red">A.</span>P</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav", id="moji">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="">member</a>
                    </li>
                    <li>
                        <%= link_to "logout", destroy_user_session_path, method: :delete, id:"moji_white"%>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
  </div>
        <!-- /.container -->
</nav>








<div id="my_page_all" >
  <p class='mypage_black_shadow'></p>
  <div class='out_of_headder'>
        <div id='contents_area'>
             <div class="left_myapage">
                <h4><%= @user.family_name %>   <span><%= @user.first_name %></span></h4>
                <div class="image" style="background-image: url(<%= @user.avatar.url(:medium) %>);"></div>
                 <div class="prof_contents">
                       <div class="birth">
                        <p>birth</p> <p>1988.07.12</p>
                      </div>
                      <div class="fav">
                        <p>fav player</p> <p>Nymar</p>
                      </div>
                      <div class="massage">
                        <p>massage</p> <p>hijo de puta</p>
                      </div>
                </div>
                 <% if current_user.id == @user.id %>
                    <div class="profile_edit">
                    <%= link_to "プロフィール編集", edit_user_path(current_user), {:class => "btn btn-primary withripple" }%>
                    </div>
                 <% end %>
             </div>


            <div class="right_mypage">
                    <p>Do you wanna play?</p>
                    <p>Are You Ready?</p>
                    <p>We are waiting for your attendance.</p>
                    <br>
                    <br>
                        <div class="row form">
                          <div class="col-lg-12">
                            <%= form_for @schedule do |f| %>
                             <div class="form-group">
                              <div class="time_table">
                                    <div class="court">
                                     <p><京都南></p>
                                    </div>
                                    <div class="month"><%= f.select :month,['1','2','3','4','5','6','7','8','9','10','11','12'] %>月<%= f.select :day,['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'] %>日</div><div class="submit"><%= f.submit "送信", class: "btn btn-primary withripple" %></div><br>
                                     <div class="time">8:00<%= f.check_box :t8, placeholder: "stadium" %></div>
                                     <div class="time">9:00<%= f.check_box :t9, placeholder: "stadium" %></div>
                                     <div class="time">10:00<%= f.check_box :t10, placeholder: "stadium" %></div>
                                     <div class="time">11:00<%= f.check_box :t11, placeholder: "stadium" %></div>
                                     <div class="time">12:00<%= f.check_box :t12, placeholder: "stadium" %></div>
                                     <div class="time">13:00<%= f.check_box :t13, placeholder: "stadium" %></div>
                                     <div class="time">14:00<%= f.check_box :t14, placeholder: "stadium" %></div>
                                     <div class="time">15:00<%= f.check_box :t15, placeholder: "stadium" %></div>
                                     <div class="time">16:00<%= f.check_box :t16, placeholder: "stadium" %></div>
                                     <div class="time">17:00<%= f.check_box :t17, placeholder: "stadium" %></div>
                                     <div class="time">18:00<%= f.check_box :t18, placeholder: "stadium" %></div>
                                     <div class="time">19:00<%= f.check_box :t19, placeholder: "stadium" %></div>
                                     <div class="time">20:00<%= f.check_box :t20, placeholder: "stadium" %></div>
                                     <div class="time">21:00<%= f.check_box :t21, placeholder: "stadium" %></div>
                                     <div class="time">22:00<%= f.check_box :t22, placeholder: "stadium" %></div>
                                     <div class="time">23:00<%= f.check_box :t23, placeholder: "stadium" %></div>
                              </div>
                            <% end %>
                           </div>
                          </div>
                        </div>


                        <div class="row form">
                          <div class="col-lg-12">
                            <%= form_for @schedule2 do |f| %>
                             <div class="form-group">
                              <div class="time_table">
                                    <div class="court2">
                                     <p><横大路></p>
                                    </div>
                                      <div class="month"><%= f.select :month,['1','2','3','4','5','6','7','8','9','10','11','12'] %>月<%= f.select :day,['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'] %>日</div><div class="submit"><%= f.submit "送信", class: "btn btn-primary withripple" %></div><br>
                                     <div class="time">8:00<%= f.check_box :t8, placeholder: "stadium" %></div>
                                     <div class="time">9:00<%= f.check_box :t9, placeholder: "stadium" %></div>
                                     <div class="time">10:00<%= f.check_box :t10, placeholder: "stadium" %></div>
                                     <div class="time">11:00<%= f.check_box :t11, placeholder: "stadium" %></div>
                                     <div class="time">12:00<%= f.check_box :t12, placeholder: "stadium" %></div>
                                     <div class="time">13:00<%= f.check_box :t13, placeholder: "stadium" %></div>
                                     <div class="time">14:00<%= f.check_box :t14, placeholder: "stadium" %></div>
                                     <div class="time">15:00<%= f.check_box :t15, placeholder: "stadium" %></div>
                                     <div class="time">16:00<%= f.check_box :t16, placeholder: "stadium" %></div>
                                     <div class="time">17:00<%= f.check_box :t17, placeholder: "stadium" %></div>
                                     <div class="time">18:00<%= f.check_box :t18, placeholder: "stadium" %></div>
                                     <div class="time">19:00<%= f.check_box :t19, placeholder: "stadium" %></div>
                                     <div class="time">20:00<%= f.check_box :t20, placeholder: "stadium" %></div>
                                     <div class="time">21:00<%= f.check_box :t21, placeholder: "stadium" %></div>
                                     <div class="time">22:00<%= f.check_box :t22, placeholder: "stadium" %></div>
                                     <div class="time">23:00<%= f.check_box :t23, placeholder: "stadium" %></div>
                              </div>
                            <% end %>
                           </div>
                          </div>
                        </div>

            </div>
   </div>
</div>









