<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <span class="title_panna">PANN<span class="red">A.</span>P</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav", id="moji">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="">member</a>
                    </li>
                    <li>
                        <%= link_to "logout", destroy_user_session_path, method: :delete, id:"moji_white"%>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
  </div>
        <!-- /.container -->
</nav>








<div id="my_page_all" >
  <p class='mypage_black_shadow'></p>
  <div class='out_of_headder'>
        <div id='contents_area'>
             <div class="left_myapage">
                <h4><%= @user.family_name %>   <span><%= @user.first_name %></span></h4>
                <div class="image" style="background-image: url(<%= @user.avatar.url(:medium) %>);"></div>
                 <div class="prof_contents">
                       <div class="birth">
                        <p>birth</p> <p>1988.07.12</p>
                      </div>
                      <div class="fav">
                        <p>fav player</p> <p>Nymar</p>
                      </div>
                      <div class="massage">
                        <p>massage</p> <p>hijo de puta</p>
                      </div>
                </div>
                 <% if current_user.id == @user.id %>
                    <div class="profile_edit">
                    <%= link_to "プロフィール編集", edit_user_path(current_user), {:class => "btn btn-primary withripple" }%>
                    </div>
                 <% end %>
             </div>


            <div class="right_mypage">
                    <p>Do you wanna play?</p>
                    <p>Are You Ready?</p>
                    <p>We are waitin for your attendance.</p>
                    <br>
                    <br>
                    <p>1.select studium</p>
                    <p>A or B or AandB</p>
<div class="row form">
  <div class="col-lg-12">
    <%= form_for current_user do |f| %>

      <div class="form-group">
        <div class="col-lg-6">
          <%= f.text_field :family_name, placeholder: "姓", class: "form-control" %>
        </div>
        <div class="col-lg-6">
          <%= f.text_field :first_name, placeholder: "名", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "送信", class: "btn btn-primary withripple" %>
      </div>
    <% end %>
  </div>
</div>
            </div>

        </div>
  </div>
</div>









