<% unless current_user.full_profile? %>
  <header class="header_top panel panel-default col-lg-12 no-profile">
    <h2>まずは、あなたのプロフィールを登録しましょう！</h2>
    <%= link_to "プロフィールを登録する", edit_user_path(current_user), { class: "btn btn-lg btn-primary withripple" } %>
  </header>
















<% else %>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <span class="title_panna">PANN<span class="red">A.</span>P</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav", id="moji">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="">member</a>
                    </li>
                    <li>
                        <%= link_to "logout", destroy_user_session_path, method: :delete, id:"moji_white"%>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
  </div>
        <!-- /.container -->
</nav>








<div id="my_page_all" >
  <p class='mypage_black_shadow'></p>
  <div class='out_of_headder'>
        <div id='contents_area'>
             <div class="left_myapage">
                <h4><%= @users.family_name %>   <span><%= @users.first_name %></span></h4>
                <div class="image" style="background-image: url(<%= @users.avatar.url(:medium) %>);"></div>
                 <div class="prof_contents">
                       <div class="birth">
                        <p>birth</p> <p><%= @users.day %></p>
                      </div>
                      <div class="fav">
                        <p>fav player</p> <p><%= @users.fav %></p>
                      </div>
                      <div class="massage">
                        <p>massage</p> <p><%= @users.massage %></p>
                      </div>
                </div>
                 <% if current_user.id == @users.id %>
                    <div class="profile_edit">
                    <%= link_to "プロフィール編集", edit_user_path(current_user), {:class => "btn btn-primary withripple" }%>
                    </div>
                 <% end %>
             </div>

            <div class="right_mypage">
                    <p>Do you wanna play?</p>
                    <p>Are You Ready?</p>
                    <p>We are waiting for your attendance.</p>
                    <br>
                    <br>
                    <!-- 京都南 -->
                        <div class="row form">
                          <div class="col-lg-12">
                            <%= form_for @schedule do |f| %>
                             <div class="form-group">
                              <div class="time_table">
                                    <div class="court">
                                     <p>＜京都南＞</p>
                                    </div>
                                    <div class="month"><%== sprintf(f.date_select(:date, :use_month_numbers=>true, :date_separator => '%s', :start_year=>Time.now.year, :end_year => Time.now.year), '年','月') + '日'  %></div><div class="submit"><%= f.submit "送信", class: "btn btn-primary withripple" %></div><br>
                                     <div class="time">8:00<%= f.check_box :t8, placeholder: "stadium" %></div>
                                     <div class="time">9:00<%= f.check_box :t9, placeholder: "stadium" %></div>
                                     <div class="time">10:00<%= f.check_box :t10, placeholder: "stadium" %></div>
                                     <div class="time">11:00<%= f.check_box :t11, placeholder: "stadium" %></div>
                                     <div class="time">12:00<%= f.check_box :t12, placeholder: "stadium" %></div>
                                     <div class="time">13:00<%= f.check_box :t13, placeholder: "stadium" %></div>
                                     <div class="time">14:00<%= f.check_box :t14, placeholder: "stadium" %></div>
                                     <div class="time">15:00<%= f.check_box :t15, placeholder: "stadium" %></div>
                                     <div class="time">16:00<%= f.check_box :t16, placeholder: "stadium" %></div>
                                     <div class="time">17:00<%= f.check_box :t17, placeholder: "stadium" %></div>
                                     <div class="time">18:00<%= f.check_box :t18, placeholder: "stadium" %></div>
                                     <div class="time">19:00<%= f.check_box :t19, placeholder: "stadium" %></div>
                                     <div class="time">20:00<%= f.check_box :t20, placeholder: "stadium" %></div>
                                     <div class="time">21:00<%= f.check_box :t21, placeholder: "stadium" %></div>
                                     <div class="time">22:00<%= f.check_box :t22, placeholder: "stadium" %></div>
                                     <div class="time">23:00<%= f.check_box :t23, placeholder: "stadium" %></div>
                              </div>
                            <% end %>
                           </div>
                          </div>
                        </div>

                      <!-- 京都南 -->
                        <div class="row form">
                          <div class="col-lg-12">
                            <%= form_for @schedule2 do |f| %>
                             <div class="form-group">
                              <div class="time_table">
                                    <div class="court2">
                                     <p>＜横大路＞</p>
                                    </div>
                                      <div class="month"><%== sprintf(f.date_select(:date, :use_month_numbers=>true, :date_separator => '%s', :start_year=>Time.now.year, :end_year => Time.now.year), '年','月') + '日'  %></div><div class="submit"><%= f.submit "送信", class: "btn btn-primary withripple" %></div><br>
                                     <div class="time">8:00<%= f.check_box :t8, placeholder: "stadium" %></div>
                                     <div class="time">9:00<%= f.check_box :t9, placeholder: "stadium" %></div>
                                     <div class="time">10:00<%= f.check_box :t10, placeholder: "stadium" %></div>
                                     <div class="time">11:00<%= f.check_box :t11, placeholder: "stadium" %></div>
                                     <div class="time">12:00<%= f.check_box :t12, placeholder: "stadium" %></div>
                                     <div class="time">13:00<%= f.check_box :t13, placeholder: "stadium" %></div>
                                     <div class="time">14:00<%= f.check_box :t14, placeholder: "stadium" %></div>
                                     <div class="time">15:00<%= f.check_box :t15, placeholder: "stadium" %></div>
                                     <div class="time">16:00<%= f.check_box :t16, placeholder: "stadium" %></div>
                                     <div class="time">17:00<%= f.check_box :t17, placeholder: "stadium" %></div>
                                     <div class="time">18:00<%= f.check_box :t18, placeholder: "stadium" %></div>
                                     <div class="time">19:00<%= f.check_box :t19, placeholder: "stadium" %></div>
                                     <div class="time">20:00<%= f.check_box :t20, placeholder: "stadium" %></div>
                                     <div class="time">21:00<%= f.check_box :t21, placeholder: "stadium" %></div>
                                     <div class="time">22:00<%= f.check_box :t22, placeholder: "stadium" %></div>
                                     <div class="time">23:00<%= f.check_box :t23, placeholder: "stadium" %></div>
                              </div>
                            <% end %>
                           </div>
                          </div>
                        </div>

            </div>

            <!-- 投稿済み -->
            <div class="attend_date">
              <p>Now your Attendance</p>
            <div class="attendance_contents">
              <div class="attend_minami">
                <p>＜京都南＞</p>
                <% @attend_dates.each do |attend_date| %>
                <p><%= attend_date.date %><br>
                  <%= link_to '詳細・編集', schedule_path(attend_date.id), method: :get %> /
                  <%= link_to '削除', schedule_path(attend_date.id), confirm:'削除してもよろしいですか?', method: :delete %></p>
                <% end %>
              </div>
              <div class="attend_yoko">
              <p>＜横大路＞</p>
                <% @attend_dates2.each do |attend_date2| %>
                <p><%= attend_date2.date %>
                  <%= link_to '削除', schedule2_path(attend_date2.id), confirm:'削除してもよろしいですか?', method: :delete %></p>
                <% end %>
              </div>
            </div>

   </div>
</div>
<% end %>








